<!--Navbar-->
<nav class="navbar navbar-light light-blue lighten-4">

    <!-- Navbar brand
    <a class="navbar-brand" href="#">Navbar</a> -->

    <!-- Collapse button -->
    <button class="navbar-toggler toggler-example" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent1"
        aria-expanded="false" aria-label="Toggle navigation"><span class="primary-text"><i class="fa fa-bars fa-1x"><div class="h6">Menu</div></i></span></button>
    <div>
        <span class="primary-text"><i class="fa fa-male" aria-hidden="true"><div class="h6">Profile</div></i></span>
        <!-- <a href="#"><span class="primary-text"><i class="fa fa-gears" aria-hidden="true"><div class="h6">Settings</div></i></span></a> -->
    </div>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent1">

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Claims</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Settings</a>
            </li>
        </ul>
        <!-- Links -->

    </div>
    <!-- Collapsible content -->

</nav>
<!--/.Navbar-->